#serie{
    margin-top: 2rem;
}

p{
    font-family: sans-serif;
    font-size: 1.5rem;
}

body{
    background-color: black;
}

.navbar{
    background-color: purple;
}

.white{
    color: white;
}

.card-title{
    font-size: .8rem;
}

.navbar-brand{
    font-size: 1.5rem;
    font-family: 'Bungee Inline', cursive;
}

#user{
    margin: 1rem;
    margin-right: 32rem;
}

.font{
    font-family: 'Montserrat', sans-serif;
}

.card-img-top{
    height: 17vh;
}